{% extends 'shared/_MainLayout.html' %}

{% block content %}

		<!-- Content -->
		<div class="content js-scroll">
			<!-- Post -->
			<div class="pb-3">
				<header class="header-post">
					<h1 class="title title--h1">{{ product.title }}</h1>
					<div class="caption-post">
						<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند.</p>
					</div>
					<div class="header-post__image-wrap">
						<img class="cover lazyload" src="../assets/img/image_02.jpg" alt="">
					</div>
				</header>
				<div class="caption-post">
					<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند. ما می توانیم یاد بگیریم که چگونه از چیزهایی که می آفرینیم لذت ببریم ، خواه آنها به شکل یک تجربه زودگذر یا یک وارثی باشد که برای نسل ها دوام خواهد آورد. ما می توانیم یاد بگیریم که پاداش در آفرینش و ایجاد مجدد است.</p>
					<p>این کافی نیست که ما محصولاتی را تولید کنیم که عملکردی دارند ، قابل فهم و قابل استفاده ، همچنین باید محصولاتی بسازیم که شادی و هیجان ، لذت و تفریح &#8203;&#8203;را به ارمغان بیاورد و بله زیبایی را برای زندگی مردم به ارمغان بیاورد. خلاقیت برای کشف سوالی است که هرگز از آن پرسیده نشده است.</p>
				</div>
				<div class="gallery-post">
					<img class="gallery-post__item cover lazyload" src="../assets/img/image_06.jpg" data-zoom="" alt="">
					<img class="gallery-post__item cover lazyload" src="../assets/img/image_08.jpg" data-zoom="" alt="">
					<div class="gallery-post__caption">کار توسط <a href="#">کالین آدامز</a> ، <a href="#">مارک کریگ</a></div>
				</div>
				<div class="caption-post">
					<h2 class="title title--h2">اگر آمادگی اشتباه بودن را ندارید ، هرگز به چیز اصلی نخواهید رسید.</h2>
					<p>در اینجا یکی از معدود کلیدهای مؤثر برای طراحی وجود دارد: توانایی طراح در تشخیص هرچه بیشتر محدودیتها ، تمایل و اشتیاق وی برای کار در این محدودیت ها. ژرف ترین فناوری ها فناوری هایی هستند که از بین می روند. آنها خود را به پارچه ای از زندگی روزمره می چسبانند تا جایی که از آن قابل تشخیص نیستند.</p>
					<blockquote class="block-quote">
						<p>جایگزین برای طراحی خوب همیشه طراحی بد است. چیزی وجود ندارد به عنوان هیچ طرحی.</p>
						<span class="block-quote__author"> نویسنده</span>
					</blockquote>
					<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند.</p>
					<p>ما می توانیم یاد بگیریم که چگونه از چیزهایی که می آفرینیم لذت ببریم ، خواه آنها به شکل یک تجربه زودگذر یا یک وارثی باشد که برای نسل ها دوام خواهد آورد. ما می توانیم یاد بگیریم که پاداش در آفرینش و ایجاد مجدد است ، صرفاً در مصرف جهان اطراف ما. مشارکت فعال در روند ایجاد حق و امتیاز ماست. ما می توانیم یاد بگیریم که موفقیت ایده های خود را نه از طریق حساب های بانکی با تأثیر آنها بر جهان اندازه گیری کنیم.</p>
				</div>
				<footer class="footer-post">
					<a class="footer-post__share" href="http://facebook.com/"><i class="font-icon icon-facebook"></i><span>فیس بوک</span></a>
					<a class="footer-post__share" href="http://twitter.com/"><i class="font-icon icon-twitter"></i><span>توییتر</span></a>
					<a class="footer-post__share" href="http://linkedin.com/"><i class="font-icon icon-linkedin2"></i><span>لینکدین</span></a>
				</footer>
			</div>
			<!-- Comments -->
			{% include 'blog/post_comments.html' %}

			<!-- Tags -->
			<p class="font-weight-bold">
			برچسب ها: 
			{% for tag in post.tags.all %}
				<a class="badge badge-primary" href="{% url 'blog:post_list_by_tag' tag.slug %}">
					{{ tag.name }}
				</a>
			{% endfor %}
			</p>
			
		</div><!-- Content End -->

{% endblock content %}