{% load static %}

<article class="news-item box">
	<div class="news-item__image-wrap overlay overlay--45">
		{% comment %} <div class="news-item__date">{{ post.publish.day }} <span>خرداد</span></div> {% endcomment %}
		<a class="news-item__link" href="{{ post.get_absolute_url }}"></a>
		<img class="cover lazyload" src="{{ post.image.url }}" alt="{{ post.title }}">
	</div>
	<div class="news-item__caption">
		<h3 class="title title--h3">{{ post.title }}</h3>
		<p>{{ post.body|truncatewords:28|safe }}</p>
	</div>
</article>