{% extends 'shared/_MainLayout.html' %}

{% block content %}

		<!-- Content -->
		<div class="content js-scroll">
			<!-- Post -->
			<div class="pb-3">
				<header class="header-post">
					<h1 class="title title--h1">{{ product.title }}</h1>
					<div class="caption-post">
						<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند.</p>
					</div>
					<div class="header-post__image-wrap">
						<img class="cover lazyload" src="../assets/img/image_02.jpg" alt="">
					</div>
				</header>
				<div class="caption-post">
					<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند. ما می توانیم یاد بگیریم که چگونه از چیزهایی که می آفرینیم لذت ببریم ، خواه آنها به شکل یک تجربه زودگذر یا یک وارثی باشد که برای نسل ها دوام خواهد آورد. ما می توانیم یاد بگیریم که پاداش در آفرینش و ایجاد مجدد است.</p>
					<p>این کافی نیست که ما محصولاتی را تولید کنیم که عملکردی دارند ، قابل فهم و قابل استفاده ، همچنین باید محصولاتی بسازیم که شادی و هیجان ، لذت و تفریح &#8203;&#8203;را به ارمغان بیاورد و بله زیبایی را برای زندگی مردم به ارمغان بیاورد. خلاقیت برای کشف سوالی است که هرگز از آن پرسیده نشده است.</p>
				</div>
				<div class="gallery-post">
					<img class="gallery-post__item cover lazyload" src="../assets/img/image_06.jpg" data-zoom="" alt="">
					<img class="gallery-post__item cover lazyload" src="../assets/img/image_08.jpg" data-zoom="" alt="">
					<div class="gallery-post__caption">کار توسط <a href="#">کالین آدامز</a> ، <a href="#">مارک کریگ</a></div>
				</div>
				<div class="caption-post">
					<h2 class="title title--h2">اگر آمادگی اشتباه بودن را ندارید ، هرگز به چیز اصلی نخواهید رسید.</h2>
					<p>در اینجا یکی از معدود کلیدهای مؤثر برای طراحی وجود دارد: توانایی طراح در تشخیص هرچه بیشتر محدودیتها ، تمایل و اشتیاق وی برای کار در این محدودیت ها. ژرف ترین فناوری ها فناوری هایی هستند که از بین می روند. آنها خود را به پارچه ای از زندگی روزمره می چسبانند تا جایی که از آن قابل تشخیص نیستند.</p>
					<blockquote class="block-quote">
						<p>جایگزین برای طراحی خوب همیشه طراحی بد است. چیزی وجود ندارد به عنوان هیچ طرحی.</p>
						<span class="block-quote__author"> نویسنده</span>
					</blockquote>
					<p>مهمتر از همه ، زندگی را به عنوان نمونه اولیه فکر کنید. ما می توانیم آزمایشاتی انجام دهیم ، اکتشافاتی را انجام دهیم و دیدگاه خود را تغییر دهیم. ما می توانیم به دنبال فرصت هایی برای تبدیل فرایندها به پروژه هایی باشیم که نتایج ملموس دارند.</p>
					<p>ما می توانیم یاد بگیریم که چگونه از چیزهایی که می آفرینیم لذت ببریم ، خواه آنها به شکل یک تجربه زودگذر یا یک وارثی باشد که برای نسل ها دوام خواهد آورد. ما می توانیم یاد بگیریم که پاداش در آفرینش و ایجاد مجدد است ، صرفاً در مصرف جهان اطراف ما. مشارکت فعال در روند ایجاد حق و امتیاز ماست. ما می توانیم یاد بگیریم که موفقیت ایده های خود را نه از طریق حساب های بانکی با تأثیر آنها بر جهان اندازه گیری کنیم.</p>
				</div>
				<footer class="footer-post">
					<a class="footer-post__share" href="http://facebook.com/"><i class="font-icon icon-facebook"></i><span>فیس بوک</span></a>
					<a class="footer-post__share" href="http://twitter.com/"><i class="font-icon icon-twitter"></i><span>توییتر</span></a>
					<a class="footer-post__share" href="http://linkedin.com/"><i class="font-icon icon-linkedin2"></i><span>لینکدین</span></a>
				</footer>
			</div>

			<div class="">
				<h2 class="title title--h2">نظرات <span class="color--light">(3)</span></h2>

				<!-- Comment -->
				<div class="comment-box">
					<div class="comment-box__inner">
						<svg class="avatar avatar--60" viewBox="0 0 84 84">
							<g class="avatar__hexagon">
								<image xlink:href="../assets/img/avatar-2.jpg" height="100%" width="100%"></image>
							</g>
						</svg>
						<div class="comment-box__body">
							<h4 class="comment-box__details"><span>دانیل لوئی </span><span class="comment-box__details-date">5 دقیقه پیش</span></h4>
							<p>مقاله ای بسیار جالب و آموزنده در مورد طراحی. چیزهای جدید و جالب فرا گرفتم.</p>

							<ul class="comment-box__footer">
								<li><i class="font-icon icon-like-fill"></i> <span>80</span></li>
								<li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
							</ul>
						</div>
					</div>

					<!-- Comment -->
					<div class="comment-box">
						<div class="comment-box__inner">
							<svg class="avatar avatar--60" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									<image xlink:href="../assets/img/avatar-3.jpg" height="100%" width="100%"></image>
								</g>
							</svg>
							<div class="comment-box__body">
								<h4 class="comment-box__details"><span>جسیکا میلر </span><span class="comment-box__details-date">1 دقیقه پیش</span></h4>
								<p>موافقم ، مقاله ای بسیار جالب. بسیار از شما متشکرم!<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-nerd.svg" alt="نرد"></p>

								<ul class="comment-box__footer">
									<li><i class="font-icon icon-like-fill"></i> <span>35</span></li>
									<li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- Comment -->
				<div class="comment-box">
					<div class="comment-box__inner">
						<svg class="avatar avatar--60" viewBox="0 0 84 84">
							<g class="avatar__hexagon">
								<image xlink:href="../assets/img/avatar-6.jpg" height="100%" width="100%"></image>
							</g>
						</svg>
						<div class="comment-box__body">
							<h4 class="comment-box__details"><span>هنری ویلیام </span><span class="comment-box__details-date">15 دقیقه پیش</span></h4>
							<p>از این مقاله خوب متشکرم. منتظر موارد جدید هستیم.</p>

							<ul class="comment-box__footer">
								<li><i class="font-icon icon-like-fill"></i> <span>15</span></li>
								<li><i class="font-icon icon-reply"></i> <span>پاسخ</span></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Comment form -->
				<ul class="social-auth">
					<li class="social-auth__item">وارد شوید با:</li>
					<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-facebook"></i></a></li>
					<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-twitter"></i></a></li>
					<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-dribbble"></i></a></li>
					<li class="social-auth__item"><a class="social-auth__link" href="#"><i class="font-icon icon-behance"></i></a></li>
				</ul>
				<form class="comment-form">
					<textarea id="commentForm" class="textarea textarea--white form-control" required="required" placeholder="ارسال نظر ..." rows="1"></textarea>
					<button type="submit" class="btn"><i class="font-icon icon-send"></i></button>
					<div class="dropdown dropup">
						<i class="font-icon icon-smile" id="dropdownEmoji" data-toggle="dropdown" aria-haspopup="true"></i>
						<div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownEmoji">
							<div class="emoji-wrap">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-laughing.svg" title=": خندیدن:" alt="خندیدن">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-happy-2.svg" title=": مبارک 2:" alt="2 مبارک">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-crazy.svg" title=": دیوانه:" alt="دیوانه">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-bad.svg" title=": بد:" alt="بد">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-angry.svg" title=":خشمگین:" alt="خشمگین">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-happy.svg" title="خوشحال" alt="خوشحال">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-thinking.svg" title=":فكر كردن:" alt="فكر كردن">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-sad.svg" title=":غمگین:" alt="غمگین">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-pressure.svg" title=":فشار:" alt="فشار">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-in-love.svg" title=":عاشق:" alt="عاشق">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-nerd.svg" title=": خندیدن:" alt="نرد">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-happy-3.svg" title=": 3 مبارک:" alt="3 مبارک">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-shocked.svg" title=":شوکه:" alt="شوکه">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-wink.svg" title=":چشمک زن:" alt="چشمک زن">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-sweating.svg" title=":تعریق:" alt="تعریق">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-shocked-2.svg" title=": شوکه شده 2:" alt="شوکه شده 2">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-shocked-3.svg" title=": شوکه شده 3:" alt="3 شوکه شد">
								<img class="emoji" src="http://netgon.net/artstyles/v-card2/assets/icons/emoji/emoji-sad-2.svg" title=": غمگین 2:" alt="غمگین 2">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div><!-- Content End -->

{% endblock content %}