{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

<!-- Content -->
		<div class="content js-scroll">
			<div class="section mt-0">
				<h1 class="title title--h1 title__separate">وبلاگ</h1>
			</div>

		<!-- Search form -->
		<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" action="/blog/posts/search">
  			<input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    				aria-label="Search" value="{{ request.GET.q }}" name="q">
  			<i class="fas fa-search" aria-hidden="true"></i>
		</form>
			
			<!-- News -->
			<div class="news-grid section">
				<!-- Post -->
				{% for post in object_list %}
					{% include 'blog/post_item_component.html' with post=post%}
				{% endfor %}


			</div>
		</div><!-- Content End -->


{% endblock content %}