		{% extends 'shared/_MainLayout.html' %}
		{% load static %}

		{% block content %}

		<div class="content js-scroll">
			<!-- About -->
			<div class="section mt-0">
				<h1 class="title title--h1 title__separate">درمورد من</h1>
				<div class="pt-2 pt-sm-3">
					<p>من مدیر خلاق و طراح UI / UX از سیدنی ، استرالیا هستم که در زمینه توسعه وب و رسانه های چاپی کار می کنم. من از تبدیل مشکلات پیچیده به طرح های ساده ، زیبا و بصری لذت می برم.</p>
					<p class="mb-0">کار من ساخت وب سایت شما به گونه ای است که کاربردی و کاربر پسند باشد اما در عین حال جذاب باشد. علاوه بر این ، من لمس شخصی به محصول شما اضافه می کنم و مطمئن هستم که چشم نواز است و کاربرد آن آسان است. هدف من این است که پیام و هویت شما را با خلاقانه ترین راه بیان کنم. من طراحی وب را برای بسیاری از شرکتهای معروف مارک ایجاد کردم.</p>
				</div>
			</div>

			<!-- What -->
			<div class="section">
				<h2 class="title title--h2">کاری که انجام می دهم</h2>
				<div class="row">
					<!-- Case Item -->
					<div class="col-12 col-lg-6 case-item-wrap">
						<div class="case-item">
							{% comment %} <img class="case-item__icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-design.svg" alt=""> {% endcomment %}
						<a class="social__link" href="https://www.linkedin.com/in/sina-raoufi-59855a110/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
							
							<h3 class="title title--h3">طراحی وب سایت</h3>
							<p class="case-item__caption">مدرن ترین و با کیفیت ترین طراحی ساخته شده در سطح حرفه ای. </p>
						</div>
					</div>

					<!-- Case Item -->
					<div class="col-12 col-lg-6 case-item-wrap">
						<div class="case-item">
							<img class="case-item__icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-dev.svg" alt="">
							<h3 class="title title--h3">توسعه وب</h3>
							<p class="case-item__caption">توسعه با کیفیت بالا سایت ها در سطح حرفه ای.</p>
						</div>
					</div>

					<!-- Case Item -->
					<div class="col-12 col-lg-6 case-item-wrap">
						<div class="case-item">
							<img class="case-item__icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-app.svg" alt="">
							<h3 class="title title--h3">برنامه های تلفن همراه</h3>
							<p class="case-item__caption">توسعه حرفه ای برنامه های iOS و Android.</p>
						</div>
					</div>

					<!-- Case Item -->
					<div class="col-12 col-lg-6 case-item-wrap">
						<div class="case-item">
							<img class="case-item__icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-photo.svg" alt="">
							<h3 class="title title--h3">عکاسی</h3>
							<p class="case-item__caption">من عکس هایی با کیفیت بالا از هر گروه را در سطح حرفه ای می سازم.</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Testimonials -->
			<div class="section">
				<h2 class="title title--h2">مشتریان می گویند</h2>
				<div class="swiper-container js-carousel-review">
					<div class="swiper-wrapper">
						<!-- Item review -->
						<div class="swiper-slide review-item">
							{% comment %} <svg class="avatar avatar--80" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									<image xlink:href="{% static 'img/avatar-2.jpg"' %} height="100%" width="100%"></image>
								</g>
							</svg> {% endcomment %}
							<h4 class="title title--h3">دانیل لوئیس</h4>
							<p class="review-item__caption">فلیشیا برای ایجاد هویت شرکتی استخدام شد. ما از کار انجام شده بسیار راضی بودیم. او تجربه زیادی دارد و نگران نیاز مشتری است.</p>
						</div>

						<!-- Item review -->
						<div class="swiper-slide review-item">
							<svg class="avatar avatar--80" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									<image xlink:href="{% static 'img/avatar-3.jpg' %}" height="100%" width="100%"></image>
								</g>
							</svg>
							<h4 class="title title--h3">جسیکا میلر</h4>
							<p class="review-item__caption">فلیشیا برای ایجاد هویت شرکتی استخدام شد. ما از کار انجام شده بسیار راضی بودیم. او تجربه زیادی دارد و نگران نیاز مشتری است.</p>
						</div>

						<!-- Item review -->
						<div class="swiper-slide review-item">
							<svg class="avatar avatar--80" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									<image xlink:href="{% static 'img/avatar-4.jpg' %}" height="100%" width="100%"></image>
								</g>
							</svg>
							<h4 class="title title--h3">تانیا روزی</h4>
							<p class="review-item__caption">فلیشیا برای ایجاد هویت شرکتی استخدام شد. ما از کار انجام شده بسیار راضی بودیم. او تجربه زیادی دارد و نگران نیاز مشتری است.</p>
						</div>

						<!-- Item review -->
						<div class="swiper-slide review-item">
							<svg class="avatar avatar--80" viewBox="0 0 84 84">
								<g class="avatar__hexagon">
									<image xlink:href="{% static 'img/avatar-5.jpg' %}" height="100%" width="100%"></image>
								</g>
							</svg>
							<h4 class="title title--h3">توماس کاسترو</h4>
							<p class="review-item__caption">فلیشیا برای ایجاد هویت شرکتی استخدام شد. ما از کار انجام شده بسیار راضی بودیم. او تجربه زیادی دارد و نگران نیاز مشتری است.</p>
						</div>
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>

			<!-- Clients -->
			<div class="section">
				<h2 class="title title--h2">مشتری</h2>
				<div class="swiper-container js-carousel-clients">
					<div class="swiper-wrapper">
						<!-- Item client -->
						<div class="swiper-slide">
							<a href="#"><img src="{% static 'img/download.jpg' %}" alt="لوگو"></a>
						</div>

						<!-- Item client -->
						<div class="swiper-slide">
							<a href="#"><img src="{% static 'img/download.jpg' %}" alt="لوگو"></a>
						</div>

						<!-- Item client -->
						<div class="swiper-slide">
							<a href="#"><img src="{% static 'img/download.jpg' %}" alt="لوگو"></a>
						</div>

						<!-- Item client -->
						<div class="swiper-slide">
							<a href="#"><img src="{% static 'img/download.jpg' %}" alt="لوگو"></a>
						</div>
					</div>

					<div class="swiper-pagination"></div>
				</div>
			</div>

			<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"></li>
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"></li>
    <li data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"></li>
  </ol>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <a
    class="carousel-control-prev"
    href="#carouselBasicExample"
    role="button"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselBasicExample"
    role="button"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- Carousel wrapper -->
		</div>
		
		{% endblock content %}