{% extends 'shared/_MainLayout.html' %}

{% block content %}

		<!-- Content -->
		<div class="content js-scroll">
			<div class="section mt-0">
				<h1 class="title title--h1 title__separate">رزومه</h1>
			</div>

			<!-- Experience -->
			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-education.svg" alt=""> تحصیلات</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">دانشکده هنر </h5>
						<span class="timeline__period">1397 — 1395</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">آکادمی هنر تهران</h5>
						<span class="timeline__period">1398 — 1394</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">دبیرستان هنر و طراحی</h5>
						<span class="timeline__period">1399 — 1396</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>
				</div>
			</div>

			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-experience.svg" alt=""> تجربه</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">طراح و توسعه دهنده وب</h5>
						<span class="timeline__period">1399 - حال</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">کارگردان هنری</h5>
						<span class="timeline__period">1398 — 1397</span>
						<p class="timeline__description">هیچ کس، برای آن که این لذت، لذت بردن از دارای مجوز و، خراب شده توسط و تملق از وجود داشته باشد، از این دردها، و برای او که مشکلات خود را دریافت کرد.</p>
					</article>

					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">طراح وب</h5>
						<span class="timeline__period">1399 — 1398</span>
						<p class="timeline__description">هیچ کس، برای آن که این لذت، لذت بردن از دارای مجوز و، خراب شده توسط و تملق از وجود داشته باشد، از این دردها، و برای او که مشکلات خود را دریافت کرد.</p>
					</article>
				</div>
			</div>

			<!-- Skills -->
			<div class="section">
				<h2 class="title title--h2">مهارت های من</h2>
				<div class="box-gray">
					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>طراحی وب </span><span>80٪</span></div>
						</div>
						<div class="progress-text"><span>طراحی وب سایت</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>طراحی گرافیکی </span><span>75٪</span></div>
						</div>
						<div class="progress-text"><span>طراحی گرافیک</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>فتوشاپ </span><span>90٪</span></div>
						</div>
						<div class="progress-text"><span>فتوشاپ</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>تصویرگر </span><span>50٪</span></div>
						</div>
						<div class="progress-text"><span>تصویرگر</span></div>
					</div>
				</div>
			</div>
		</div><!-- Content End -->

{% endblock content %}