{% extends 'shared/_MainLayout.html' %}

{% block content %}

		<!-- Content -->
		<div class="content js-scroll">
			<div class="section mt-0">
				<h1 class="title title--h1 title__separate">رزومه</h1>
			</div>

			<!-- Experience -->
			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-education.svg" alt=""> تحصیلات</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">دانشکده هنر </h5>
						<span class="timeline__period">1397 — 1395</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>
				</div>
			</div>

			<div class="section">
				<h2 class="title title--h2"><img class="title-icon" src="http://netgon.net/artstyles/v-card2/assets/icons/icon-experience.svg" alt=""> تجربه</h2>
				<div class="timeline">
					<!-- Item -->
					<article class="timeline__item">
						<h5 class="title title--h3 timeline__title">طراح و توسعه دهنده وب</h5>
						<span class="timeline__period">1399 - حال</span>
						<p class="timeline__description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
						</p>
					</article>
				</div>
			</div>

			<!-- Skills -->
			<div class="section">
				<h2 class="title title--h2">مهارت های من</h2>
				<div class="box-gray" dir="ltr">
					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>C/C++ </span><span>90٪</span></div>
						</div>
						<div class="progress-text"><span>C/C++</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Python</span><span>75٪</span></div>
						</div>
						<div class="progress-text"><span>Python</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Django Framework</span><span>70٪</span></div>
						</div>
						<div class="progress-text"><span>Django Framework</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Git </span><span>60٪</span></div>
						</div>
						<div class="progress-text"><span>Git</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>OOP Programming </span><span>90٪</span></div>
						</div>
						<div class="progress-text"><span>OOP Programming</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>Data Structures </span><span>65٪</span></div>
						</div>
						<div class="progress-text"><span>Data Structures</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>HTML5 </span><span>65٪</span></div>
						</div>
						<div class="progress-text"><span>HTML5</span></div>
					</div>

					<!-- Progress -->
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-text"><span>CSS3 </span><span>65٪</span></div>
						</div>
						<div class="progress-text"><span>CSS3</span></div>
					</div>
				</div>
			</div>
		</div><!-- Content End -->

{% endblock content %}