    {% load static %}
    <!-- Favicons -->
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicons/apple-touch-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicons/apple-touch-icon-57x57.png' %}">
	<link rel="shortcut icon" href="{% static 'images/favicons/favicon.png' %}" type="image/png">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/custom.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style-rtl.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'demo/style-demo.css' %}"/>

	<link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}"/>